#contentp {
margin-left:160px;n
}
a:-webkit-any-link {
color:default;
}
a:visited {
color:default;
}
#<?php echo $_GET['id']; ?>{
        display:none;
        }  
#imgbox 
{
    vertical-align : middle;
    position : absolute;
    border: 1px solid #999;
    background : #FFFFFF; 
    filter: Alpha(Opacity=100);
    visibility : hidden;
    height : 200px;
    width : 200px;
    z-index : 50;
    overflow : hidden;
    text-align : center;
}        
#img_big {
background-color: black;
height: 100%;
max-height: 650px;
min-height: 500px;
max-width:700px;
position: relative;
text-align: center;
-webkit-user-select: none;
float: left;
}  
#img_big_right {
background-color: white;
height: 100%;
overflow: hidden;
position: absolute;
word-wrap: break-word;
width: 300px;
right:0px;
}     
#img_big_right_name {
font-weight: bold;
position:absolute;
top:45px;
padding-left:10px;
} 
#img_big_right_img {
padding-left:10px;
padding-top:10px;
}
#div_share5 {
background-color: black;
background-repeat: repeat;
height: 500px;
width: 1000px;
display: none;
position: fixed;
color: black;
z-index: 9999999999999998989;
padding-top: 0px;
top: 70px;
left: 200px;
position: fixed;
border-width:2px;
border-color:white;
}
#friendshood {
background-image:url('../images/logo.gif');
height: 60px;
width: 280px;
left: 40px;
position: absolute;
}
#games {
background-repeat:no-repeat;
height: 121px;
width: 215px;
left: 360px;
position: absolute;
}
#videos {
height: 94px;
width: 150px;
left: 630px;
position: absolute;
}
#quiz{
left:879px;
position: absolute;
}
#edusource{
left:1030px;
position:absolute;
}
.ac_results {
	padding: 0px;
	border: 1px solid black;
	background-color: white;
	overflow: hidden;
	z-index: 99999;
}

.ac_results ul {
	width: 100%;
	list-style-position: outside;
	list-style: none;
	padding: 0;
	margin: 0;
}

.ac_results li {
	margin: 0px;
	padding: 2px 5px;
	cursor: default;
	display: block;
	/* 
	if width will be 100% horizontal scrollbar will apear 
	when scroll mode will be used
	*/
	/*width: 100%;*/
	font: menu;
	font-size: 12px;
	/* 
	it is very important, if line-height not setted or setted 
	in relative units scroll will be broken in firefox
	*/
	line-height: 16px;
	overflow: hidden;
}

.ac_loading {
	background: white url('indicator.gif') right center no-repeat;
}

.ac_odd {
	background-color: #eee;
}

.ac_over {
	background-color: #CCC;
}
